@import "https://rsms.me/inter/inter.css";
* {
  box-sizing: border-box;
}
*::selection {
  color: white;
  background-color: #181818;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
nav {
  position: fixed;
  border-bottom: 1px solid #dadada;
  padding: 20px;
  top: 0;
  width: 100%;
  background-color: white;
}
nav > .title {
  color: #181818;
  font-size: 25pt;
  font-family: "Inter";
  font-weight: 700;
}
nav > .title > span {
  color: #dadada;
}
nav > .menu_opener {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0px, -50%);
  border: 1px solid #dadada;
  border-radius: 3px;
  padding: 10px 20px;
  color: #181818;
  font-size: 15pt;
  font-family: "Inter";
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s all;
  user-select: none;
}
nav > .menu_opener:hover {
  background-color: #fafafa;
}
@media only screen and (max-width: 600px) {
  nav {
    top: initial;
    bottom: 0;
    border-top: 1px solid #dadada;
    border-bottom: none;
  }
}
#toc {
  position: fixed;
  top: 0;
  right: 0;
  border-left: 1px solid #dadada;
  width: 30%;
  min-width: 400px;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s all;
  background-color: #fafafa;
}
#toc:hover {
  opacity: 1;
  pointer-events: all;
}
@media only screen and (max-width: 600px) {
  #toc {
    border-left: none;
    width: 100%;
  }
}
main {
  margin-top: 80.33px;
  min-width: 100%;
  min-height: 100%;
}
@media only screen and (max-width: 600px) {
  main {
    margin-top: 0;
  }
}
h2 {
  margin: 0;
  margin-top: 40px;
  color: #181818;
  font-size: 25pt;
  font-family: "Inter";
}
p,
a {
  color: #181818;
  font-size: 14pt;
  font-family: "Inter";
}
.segment {
  padding: 40px;
  overflow: hidden;
}
.segment > h2:first-child {
  margin: 0;
}
footer {
  padding: 20px;
  border-top: 1px solid #dadada;
  background-color: white;
}
@media only screen and (max-width: 600px) {
  footer {
    margin-bottom: 80.33px;
  }
}
.timeline {
  display: flex;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  padding: 0px 40px;
  min-width: 100%;
  flex-wrap: wrap;
  background-color: #fafafa;
}
.timeline > * {
  display: flex;
  align-items: center;
  padding: 20px 40px;
}
.timeline > * img {
  display: inline-block;
  width: 100px;
}
.timeline > * .text {
  display: inline-block;
  margin-left: 10px;
}
.timeline > * .text .title {
  display: block;
  font-size: 18pt;
  font-family: "Inter";
  font-weight: 700;
}
.timeline > * .text .time {
  display: block;
  font-size: 18pt;
  font-family: "Inter";
  font-weight: 300;
}
.audio {
  border: 1px solid #dadada;
  border-radius: 5px;
  padding: 20px;
  background-color: #fafafa;
}
.audio > .play {
  display: inline-block;
  border: 1px solid #dadada;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  font-family: "Inter";
  line-height: 50px;
  background-color: white;
  cursor: pointer;
  user-select: none;
}
.audio > .title {
  margin-left: 20px;
  font-size: 14pt;
  font-family: "Inter";
  font-weight: 700;
}
.audio > .scrub {
  display: block;
  margin-top: 20px;
  border-radius: 10px;
  width: 100%;
  height: 10px;
  background-color: #dadada;
  user-select: none;
  overflow: hidden;
}
.audio > .scrub > .progress {
  content: "";
  border-radius: 10px;
  width: var(--progress);
  height: 10px;
  background-color: #181818;
  transition: 0.2s all;
}
