@import "https://rsms.me/inter/inter.css";

@dark: rgb(24, 24, 24);
@light: white;

@lightgray: rgb(218, 218, 218);

* {

	box-sizing: border-box;

}

html, body {

	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;

	overflow-x: hidden;

}

nav {

	position: fixed;

	border-bottom: 1px solid @lightgray;

	padding: 20px;

	top: 0;
	
	width: 100%;

	&>.title {
	
		color: @dark;
		font-size: 25pt;
		font-family: "Inter";
		font-weight: 700;

		&>span {

			color: @lightgray;

		}

	}

	// box-shadow: 0 0 2px @dark;
	background-color: @light;

}

main {

	margin-top: 80.33px;

	min-width: 100%;
	min-height: 100%;

}

h2 {

	margin: 0;
	margin-top: 40px;

	color: @dark;
	font-size: 25pt;
	font-family: "Inter";

}

p, a {

	color: @dark;
	font-size: 14pt;
	font-family: "Inter";

}

.segment {

	padding: 40px;

	&>h2:first-child {

		margin: 0;

	}

	overflow: hidden;

}

footer {

	padding: 20px;

	border-top: 1px solid @lightgray;

	background-color: @light;

}

.timeline {

	display: flex;

	border-top: 1px solid @lightgray;
	border-bottom: 1px solid @lightgray;

	padding: 0px 40px;

	min-width: 100%;

	flex-wrap: wrap;
	// flex-grow: 1;

	// overflow: auto;
	// background-color: @lightgray;

	&>* {

		display: flex;

		align-items: center;

		padding: 20px 40px;
		// padding-right: 80px;

		img {

			display: inline-block;

			width: 100px;

		}

		.text {

			display: inline-block;

			margin-left: 10px;

			.title {

				display: block;
	
				font-size: 18pt;
				font-family: "Inter";
				font-weight: 700;
	
			}
	
			.time {
	
				display: block;
	
				font-size: 18pt;
				font-family: "Inter";
				font-weight: 300;
	
			}

		}

	}

}

.audio {

	border: 1px solid @lightgray;
	border-radius: 5px;

	padding: 20px;

	&>.play {

		display: inline-block;

		border: 1px solid @lightgray;
		border-radius: 100%;
		
		width: 50px;
		height: 50px;

		text-align: center;
		font-family: "Inter";
		line-height: 50px;

		cursor: pointer;
		user-select: none;

	}

	&>.title {
		
		margin-left: 20px;

		font-size: 14pt;
		font-family: "Inter";
		font-weight: 700;

	}

	&>.scrub {

		display: block;

		margin-top: 20px;

		border-radius: 10px;

		width: 100%;
		height: 10px;

		background-color: @lightgray;

		&>.progress {

			content: "";

			border-radius: 10px;

			width: var(--progress);
			height: 10px;

			background-color: @dark;

			transition: 0.2s all;

		}

		user-select: none;
		overflow: hidden;

	}

}
